 Do it! 데이터 분석을 위한 판다스 입문 pg. 241~ 242, 256~263을 필사하여 깃허브에 업로드

# datetime 오브젝트 사용하기

In [ ]:
# 라이브러리 불러오기
from datetime import datetime

In [ ]:
# 현재 시간 출력하기
now1 = datetime.now()
print(now1)

2022-10-09 13:18:28.804037

In [ ]:
# 오늘 날짜 출력하기
now2 = datetime.today()
print(now2)

2022-10-09 13:18:31.516068

In [ ]:
# 시간 직접 입력하여 인자로 전달
t1 = datetime.now()
t2 = datetime(1970, 1, 1)
t3 = datetime(1970, 12, 12, 13, 24, 34)

print(t1)
print(t2)
print(t3)

2022-10-09 13:19:52.798767
1970-01-01 00:00:00
1970-12-12 13:24:34

In [ ]:
# 시간 계산

diff1 = t1 - t2

print(diff1)
print(type(diff1))

19274 days, 13:19:52.798767
<class 'datetime.timedelta'>

In [ ]:
diff2 = t2 - t1

print(diff2)
print(type(diff2))

-19275 days, 10:40:07.201233
<class 'datetime.timedelta'>

# 테슬라 주식 데이터로 시간 계산하기

In [ ]:
# pandas-datareader 라이브러리로 주식 데이터 불러오기
!pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)

In [1]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

In [2]:
tesla = pdr.get_data_quandl('TSLA', api_key = 'GY3mvNesbLMXMjuU-e_r')
tesla.to_csv("tesla_stock_quandl.csv")

In [3]:
print(tesla.head())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

In [4]:
# data 열을 datetime 형으로 변환

tesla = pd.read_csv("tesla_stock_quandl.csv", parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        115 non-null    datetime64[ns]
 1   Open        115 non-null    float64
 2   High        115 non-null    float64
 3   Low         115 non-null    float64
 4   Close       115 non-null    float64
 5   Volume      115 non-null    float64
 6   ExDividend  115 non-null    float64
 7   SplitRatio  115 non-null    float64
 8   AdjOpen     115 non-null    float64
 9   AdjHigh     115 non-null    float64
 10  AdjLow      115 non-null    float64
 11  AdjClose    115 non-null    float64
 12  AdjVolume   115 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 11.8 KB
None

In [5]:
print(tesla.loc[(tesla.Date.dt.year == 2018) & (tesla.Date.dt.month == 3)])

         Date    Open    High       Low   Close      Volume  ExDividend  \
0  2018-03-27  304.00  304.27  277.1800  279.18  13696168.0         0.0
1  2018-03-26  307.34  307.59  291.3600  304.18   8324639.0         0.0
2  2018-03-23  311.25  311.61  300.4500  301.54   6600538.0         0.0
3  2018-03-22  313.89  318.82  308.1800  309.10   4914307.0         0.0
4  2018-03-21  310.25  322.44  310.1900  316.53   5927881.0         0.0
5  2018-03-20  314.87  316.25  308.7600  310.55   4726182.0         0.0
6  2018-03-19  316.50  320.75  309.6700  313.56   7440766.0         0.0
7  2018-03-16  325.96  327.40  319.0700  321.35   6058612.0         0.0
8  2018-03-15  329.38  332.85  321.1000  325.60   6366922.0         0.0
9  2018-03-14  336.76  339.81  323.9300  326.63   7932511.0         0.0
10 2018-03-13  344.92  345.12  336.2635  341.84   5932110.0         0.0
11 2018-03-12  328.61  347.21  326.5000  345.51   8212156.0         0.0
12 2018-03-09  324.10  328.49  322.3700  327.17   5479716.0         0.0
13 2018-03-08  332.86  333.30  326.2740  329.10   3476944.0         0.0
14 2018-03-07  325.44  332.50  321.7400  332.30   5007297.0         0.0
15 2018-03-06  333.75  336.37  327.0300  328.20   4285744.0         0.0
16 2018-03-05  332.39  337.75  329.2929  333.35   3823769.0         0.0
17 2018-03-02  326.98  335.22  322.9700  335.12   5092829.0         0.0
18 2018-03-01  345.01  348.67  330.0700  330.93   6885601.0         0.0

    SplitRatio  AdjOpen  AdjHigh    AdjLow  AdjClose   AdjVolume
0          1.0   304.00   304.27  277.1800    279.18  13696168.0
1          1.0   307.34   307.59  291.3600    304.18   8324639.0
2          1.0   311.25   311.61  300.4500    301.54   6600538.0
3          1.0   313.89   318.82  308.1800    309.10   4914307.0
4          1.0   310.25   322.44  310.1900    316.53   5927881.0
5          1.0   314.87   316.25  308.7600    310.55   4726182.0
6          1.0   316.50   320.75  309.6700    313.56   7440766.0
7          1.0   325.96   327.40  319.0700    321.35   6058612.0
8          1.0   329.38   332.85  321.1000    325.60   6366922.0
9          1.0   336.76   339.81  323.9300    326.63   7932511.0
10         1.0   344.92   345.12  336.2635    341.84   5932110.0
11         1.0   328.61   347.21  326.5000    345.51   8212156.0
12         1.0   324.10   328.49  322.3700    327.17   5479716.0
13         1.0   332.86   333.30  326.2740    329.10   3476944.0
14         1.0   325.44   332.50  321.7400    332.30   5007297.0
15         1.0   333.75   336.37  327.0300    328.20   4285744.0
16         1.0   332.39   337.75  329.2929    333.35   3823769.0
17         1.0   326.98   335.22  322.9700    335.12   5092829.0
18         1.0   345.01   348.67  330.0700    330.93   6885601.0

In [6]:
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-10-23', '2017-10-20', '2017-10-19', '2017-10-18',
               '2017-10-17', '2017-10-16', '2017-10-13', '2017-10-12',
               '2017-10-11', '2017-10-10'],
              dtype='datetime64[ns]', name='Date', length=115, freq=None)

In [8]:
# datetime 오브젝트를 인덱스로 지정하여 원하는 시간의 데이터 추출

# 2017년 데이터 추출
print(tesla['2017'].iloc[:5, :5])

                 Date    Open      High     Low   Close
Date
2017-12-29 2017-12-29  316.18  316.4100  310.00  311.35
2017-12-28 2017-12-28  311.75  315.8200  309.54  315.36
2017-12-27 2017-12-27  316.00  317.6800  310.75  311.64
2017-12-26 2017-12-26  323.83  323.9400  316.58  317.29
2017-12-22 2017-12-22  329.51  330.9214  324.82  325.20

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
# 2017년 12월 데이터 추출
print(tesla['2017-12'].iloc[:, :5])

                 Date    Open      High     Low   Close
Date
2017-12-29 2017-12-29  316.18  316.4100  310.00  311.35
2017-12-28 2017-12-28  311.75  315.8200  309.54  315.36
2017-12-27 2017-12-27  316.00  317.6800  310.75  311.64
2017-12-26 2017-12-26  323.83  323.9400  316.58  317.29
2017-12-22 2017-12-22  329.51  330.9214  324.82  325.20
2017-12-21 2017-12-21  329.59  333.7400  327.21  331.66
2017-12-20 2017-12-20  332.69  333.1000  325.04  328.98
2017-12-19 2017-12-19  340.26  341.4925  330.30  331.10
2017-12-18 2017-12-18  344.90  346.7300  337.58  338.87
2017-12-15 2017-12-15  342.04  343.9000  335.76  343.45
2017-12-14 2017-12-14  341.01  347.4400  336.90  337.89
2017-12-13 2017-12-13  340.93  344.2200  336.50  339.03
2017-12-12 2017-12-12  330.45  341.4400  330.03  341.03
2017-12-11 2017-12-11  314.63  329.0100  313.75  328.91
2017-12-08 2017-12-08  314.60  316.9800  311.26  315.13
2017-12-07 2017-12-07  312.00  318.6341  311.05  311.24
2017-12-06 2017-12-06  300.10  313.3900  300.00  313.26
2017-12-05 2017-12-05  302.00  308.0000  301.00  303.70
2017-12-04 2017-12-04  306.50  308.2650  300.61  305.20
2017-12-01 2017-12-01  305.44  310.3200  305.05  306.53

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

## 시간 간격을 인덱스로 지정해 데이터 추출하기

In [10]:
# 데이터 수집 기간 파악

tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 168 days
2018-03-26 167 days
2018-03-23 164 days
2018-03-22 163 days
2018-03-21 162 days

In [11]:
# 시간 간격을 이용해 데이터 추출
tesla.index = tesla['ref_date']
print(tesla.iloc[:5, :5])

               Date    Open    High     Low   Close
ref_date
168 days 2018-03-27  304.00  304.27  277.18  279.18
167 days 2018-03-26  307.34  307.59  291.36  304.18
164 days 2018-03-23  311.25  311.61  300.45  301.54
163 days 2018-03-22  313.89  318.82  308.18  309.10
162 days 2018-03-21  310.25  322.44  310.19  316.53

In [12]:
# 데이터 수집 후 최초 5일의 데이터 추출
# 4 days는 데이터 없어 출력 x

print(tesla['5 days':].iloc[:5,:5])

               Date    Open    High       Low   Close
ref_date
3 days   2017-10-13  356.98  358.49  353.6800  355.57
2 days   2017-10-12  352.95  359.78  352.6400  355.68
1 days   2017-10-11  353.89  357.60  351.1500  354.60
0 days   2017-10-10  346.80  355.63  345.5305  355.59

## 시간 범위 생성해 인덱스로 지정하기

In [13]:
# ebola 데이터 : 2015/1/1 데이터 누락

ebola = pd.read_csv("country_timeseries.csv")
print(ebola.iloc[:5, :5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           NaN         8157.0                NaN
4  12/31/2014  284        2730.0         8115.0             9633.0

In [14]:
# 2014/3/23 데이터 누락

print(ebola.iloc[-5:, :5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117  3/27/2014    5         103.0            8.0                6.0
118  3/26/2014    4          86.0            NaN                NaN
119  3/25/2014    3          86.0            NaN                NaN
120  3/24/2014    2          86.0            NaN                NaN
121  3/22/2014    0          49.0            NaN                NaN

In [15]:
# date_range 메소드로 2014년 12월 31일부터 2015년 1월 5일 사이의 시간 인덱스 생성

head_range = pd.date_range(start='2014-12-31', end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [16]:
ebola_5 = ebola.head()
ebola_5.index = ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5, :5])

                  Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
1/5/2015      1/5/2015  289        2776.0            NaN            10030.0
1/4/2015      1/4/2015  288        2775.0            NaN             9780.0
1/3/2015      1/3/2015  287        2769.0         8166.0             9722.0
1/2/2015      1/2/2015  286           NaN         8157.0                NaN
12/31/2014  12/31/2014  284        2730.0         8115.0             9633.0

# 시간 범위 주기 설정
**freq 속성값으로 사용할 수 있는 시간 주기**
- B : 평일만 포함
- C : 사용자가 정의한 평일만 포함
- D : 달력 일자 단위
- W : 주간 단위
- M : 월 마지막 날만 포함
- SM : 15일과 월 마지막 날만 포함
- BM : M 주기의 값이 휴일이면 제외하고 평일만 포함
- CBM : BM에 사용자 정의 평일을 적용
- MS : 월 시작일만 포함
- SMS : 월 시작일과 15일만 포함
- BMS : MS 주기의 값이 휴일이면 제외하고 평일만 포함
- CBMS : BMS에 사용자 정의 평일을 적용
- Q : 3,6,9,12월 분기 마지막 날만 포함
- A : 년의 마지막 날만 포함
- H : 시간 단위로 포함