# Exercise 1

## 데이터 다운로드
--- 
아래 셀을 실행시켜 데이터를 colab에 불러옵니다.  
셀 실행은 Ctrl + Enter 를 이용해 실행시킬 수 있습니다.

In [1]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-10-03 09:32:04--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2022-10-03 09:32:04--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 142.251.2.101, 142.251.2.138, 142.251.2.102, ...
Connecting to drive.google.com (drive.google.com)|142.251.2.101|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/c6hkv2ded7qsr02araic0t4h1ausdsa1/1664789475000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download&uuid=3edae666-6191-405b-b956-7d1543f1157e [following]
Warning: wildcards not supported in HTTP.
--2022-10-03 09:32:05--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/c6hkv2ded7qsr02araic0t4h1ausdsa1/1664789475000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download&uuid=3edae666-6191-405b-b956-7d1543f1157e
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 142.251.2.132, 2607:f8b0:4023:c0d::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|142.251.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‘3gLj0Q6’

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0s

2022-10-03 09:32:05 (101 MB/s) - ‘3gLj0Q6’ saved [39208/39208]

## 라이브러리 불러오기
---
아래 셀을 실행시켜 pandas 와 DecisionTreeRegressor 를 불러옵니다.

In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

## 데이터 불러오기
---
아래 셀을 실행시켜 csv 파일 데이터를 DataFrame 객체로 불러옵니다.

In [3]:
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

## 결측치 제거하기
---
결측치를 제거하고, 결측치가 모두 제거됐는지 확인합니다.

In [4]:
test = test.dropna()
train = train.dropna()

print(train.isnull().sum())

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64

1. train 데이터중 <br>
(1) 예측해야할 `count` 피쳐를 drop()함수를 사용하고, axis=1 옵션을 사용해 해당 열을 제외한 데이터들을 `X_train` 이라는 이름의 DataFrame 객체로 만들고 <br>
(2) `count` 피쳐만을 데이터로 갖는 `Y_train` 이라는 이름의 DataFrame 객체로 만드는 코드를 아래에 작성하세요

In [6]:
X_train = train.drop(columns=['count'], axis=1)
Y_train = train['count']

2. `model` 변수명으로 모델을 선언하고, fit() 함수를 사용해서, `X_train` 을 input 으로 삼고, `Y_train` 을 output 으로 삼아 모델을 훈련시키는 코드를 아래에 작성하세요

In [8]:
model = DecisionTreeRegressor()

model.fit(X_train, Y_train)

DecisionTreeRegressor()

3. predict() 를 이용해 test data 를 훈련된 모델로 예측한 data 를 생성하고 예측결과 상위 5개를 출력하는 코드를 작성하세요.

In [11]:
predict_data = model.predict(test)
predict_data[:5]

array([117., 164., 114.,  49.,  93.])

# Exercise 2

## 데이터 다운로드
---
아래 셀을 실행시켜 데이터를 colab 에 불러옵니다.
셀 실행은 Ctrl + Enter 를 이용해 실행시킬 수 있습니다.

In [12]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3i4n1QB'

import zipfile
with zipfile.ZipFile('3i4n1QB', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-10-03 09:37:34--  https://bit.ly/3i4n1QB
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw [following]
--2022-10-03 09:37:34--  https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw
Resolving drive.google.com (drive.google.com)... 142.250.141.113, 142.250.141.138, 142.250.141.102, ...
Connecting to drive.google.com (drive.google.com)|142.250.141.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/154dd4u5n0d9t0oun06h6vagp24qs9df/1664789850000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=6c400aa4-762e-4227-915c-4620436fdfdd [following]
Warning: wildcards not supported in HTTP.
--2022-10-03 09:37:34--  https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/154dd4u5n0d9t0oun06h6vagp24qs9df/1664789850000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=6c400aa4-762e-4227-915c-4620436fdfdd
Resolving doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)... 142.250.141.132, 2607:f8b0:4023:c0d::84
Connecting to doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)|142.250.141.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 137694 (134K) [application/zip]
Saving to: ‘3i4n1QB’

3i4n1QB             100%[===================>] 134.47K  --.-KB/s    in 0.001s

2022-10-03 09:37:34 (124 MB/s) - ‘3i4n1QB’ saved [137694/137694]

In [13]:
# 라이브러리 불러오기

import pandas as pd
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier

In [14]:
train = pd.read_csv('data/train.csv')

# Scailing
scaler = MinMaxScaler()
scaler.fit(train[['fixed acidity']])
train['Scaled fixed acidity'] = scaler.transform(train[['fixed acidity']])

# Encoding
encoder = OneHotEncoder()
encoder.fit(train[['type']])
onehot = encoder.transform(train[['type']])
onehot = onehot.toarray()
onehot = pd.DataFrame(onehot)
onehot.columns = encoder.get_feature_names()
train = pd.concat([train, onehot], axis = 1)
train = train.drop(columns = ['type'])
train.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Scaled fixed acidity,x0_red,x0_white
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,0.148760,0.0,1.0
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,0.413223,1.0,0.0
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,0.338843,0.0,1.0
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,0.264463,0.0,1.0
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,0.330579,0.0,1.0

4. sklearn에 model_selection 모듈에서 KFold를 불러와보세요

In [15]:
from sklearn.model_selection import KFold

5. KFold에 n_splits = 5, shuffle = True, random_state = 0이라는 인자를 추가해 "kf"라는 변수에 저장해보세요

In [16]:
kf = KFold(n_splits=5, shuffle=True, random_state=0)

6. 반복문을 통해서 1번부터 5번까지의 데이터에 접근해보세요

In [24]:
for train_idx, test_idx in kf.split(train) :
  train_data = train.iloc[train_idx]
  print('train_data의 인덱스:\n', train_data.index)
  test_data = train.iloc[test_idx]
  print('test_data의 인덱스:\n', test_data.index)
  print('-----------------------------------------')

train_data의 인덱스:
 Int64Index([   0,    1,    2,    3,    5,    6,    7,    8,    9,   10,
            ...
            5485, 5487, 5488, 5489, 5490, 5491, 5492, 5494, 5495, 5496],
           dtype='int64', length=4397)
test_data의 인덱스:
 Int64Index([   4,   12,   14,   15,   29,   30,   31,   33,   38,   39,
            ...
            5439, 5448, 5449, 5450, 5451, 5459, 5475, 5479, 5486, 5493],
           dtype='int64', length=1100)
-----------------------------------------
train_data의 인덱스:
 Int64Index([   0,    2,    3,    4,    5,    6,    7,    8,   10,   11,
            ...
            5486, 5487, 5488, 5489, 5491, 5492, 5493, 5494, 5495, 5496],
           dtype='int64', length=4397)
test_data의 인덱스:
 Int64Index([   1,    9,   22,   23,   32,   34,   36,   37,   45,   53,
            ...
            5438, 5444, 5445, 5447, 5452, 5456, 5457, 5472, 5478, 5490],
           dtype='int64', length=1100)
-----------------------------------------
train_data의 인덱스:
 Int64Index([   0,    1,    4,    7,    8,    9,   12,   13,   14,   15,
            ...
            5483, 5485, 5486, 5488, 5489, 5490, 5491, 5493, 5494, 5496],
           dtype='int64', length=4398)
test_data의 인덱스:
 Int64Index([   2,    3,    5,    6,   10,   11,   16,   17,   27,   40,
            ...
            5461, 5466, 5468, 5469, 5476, 5481, 5484, 5487, 5492, 5495],
           dtype='int64', length=1099)
-----------------------------------------
train_data의 인덱스:
 Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    9,   10,
            ...
            5484, 5486, 5487, 5488, 5490, 5491, 5492, 5493, 5494, 5495],
           dtype='int64', length=4398)
test_data의 인덱스:
 Int64Index([   8,   13,   18,   19,   20,   26,   41,   43,   47,   52,
            ...
            5443, 5458, 5460, 5462, 5463, 5471, 5477, 5485, 5489, 5496],
           dtype='int64', length=1099)
-----------------------------------------
train_data의 인덱스:
 Int64Index([   1,    2,    3,    4,    5,    6,    8,    9,   10,   11,
            ...
            5484, 5485, 5486, 5487, 5489, 5490, 5492, 5493, 5495, 5496],
           dtype='int64', length=4398)
test_data의 인덱스:
 Int64Index([   0,    7,   21,   24,   25,   28,   35,   56,   60,   62,
            ...
            5467, 5470, 5473, 5474, 5480, 5482, 5483, 5488, 5491, 5494],
           dtype='int64', length=1099)
-----------------------------------------